<div class="all-animals">
{{#each animal}}
  <div class='{{this.name}}'>
    <a href="/{{this.name}}/step/1"><img src='/{{this.name}}.jpg' alt='{{this.name}}' srcset='' /></a>
    <a href="/{{this.name}}/step/1">Level {{this.id}}</a>
    <h2>{{this.name}}</h2>
  </div>
{{/each}}
</div>